/* ====================================
// css variables
// ==================================== */

:root {
  --dark-red: #150404;
  --black: #000000;
  --light: #FAE0A7;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: var(--dark-red, #150404);
  color: var(--light);
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  border-radius: 230px;
  mix-blend-mode: luminosity;
  aspect-ratio: 1;
  object-fit: cover;
}

.img-section-la-carte,
.img-woman-model {
  margin-bottom: 34px;
}

.img-band {
  margin-top: 34px;
}

/*Bootstrap*/
.row + .row {
  margin-top: 16px;
}

header {
  background-image: url(../img/salle-restaurant-jazz.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-family: Judson;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  margin: 93px 0 36px 0;
}

@media (min-width: 768px) {
  h1 {
    margin: 307px 0 315px;
    font-size: 180px;
  }
}

h2 {
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav {
  border-radius: 55px;
  border: 1px solid var(--dor-light, #FAE0A7);
  background: var(--black, #000);
  width: 290px;
  height: 101px;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  nav {
    border-radius: 50px;
    width: 1028px;
    height: 84px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
  }
}

main {
  margin: 34px 0 74px;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-text-blur {
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  filter: blur(2px);
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  animation: linear 15s infinite;
  overflow: hidden;
}

.container-carousel-text {
  overflow: hidden;
  background-color: #000;
}

@keyframes carousel-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-785px);
  }
}

@media (min-width: 768px) {
  .animation-blur {
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  filter: blur(2px);
  }
}

.button_more_info {
  border-radius: 50px;
  border: 1px solid var(--dor-light, #FAE0A7);
  background: var(--black, #000);
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 20px;
  width: 87px;
  height: 37.901px;
}

.button_reservations {
  color: var(--dor-light, #FAE0A7);
  border: 1px solid var(--dor-light, #FAE0A7);
  background: var(--black, #000);
  border-radius: 50px;
  text-align: center;
  font-family: Judson;
  font-size: 32px;
  width: 290px;
  height: 72px;
  text-decoration-line: underline;
}

footer {
  background: var(--black);
}

.footer-content {
  border: 1px solid var(--dor-light, #FAE0A7);
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0 25px;
}