/* ====================================
// css variables
// ==================================== */

:root {
  --dark-red: #150404;
  --black: #000000;
  --light: #FAE0A7;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Inika;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: var(--dark-red, #150404);
  color: var(--light);
  font-size: 1rem;
  line-height: 1.25;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  border-radius: 230px;
  aspect-ratio: 1;
  object-fit: cover;
}

.la-carte-img,
.img-initial {
  mix-blend-mode: luminosity;
}

.img-section-la-carte{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-section-la-carte p {
  position: absolute;
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 64px;
  opacity: 0;
}

.img-section-la-carte:hover p{
  opacity: 100%;
  color: var(--dor-light, #FAE0A7);
  transition-duration: 0s;
  transition-delay: 0s;
}

.img-section-la-carte,
.img-woman-model {
  margin-bottom: 34px;
}

.img-band {
  margin-top: 34px;
}

/*Bootstrap*/
.row + .row {
  margin-top: 16px;
}

header {
  background-image: url(../img/salle-restaurant-jazz.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-family: Judson;
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  margin: 93px 0 36px 0;
}

@media (min-width: 768px) {
  h1 {
    margin: 307px 0 315px;
    font-size: 180px;
  }
}

h2 {
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  h2 {
    color: var(--dor-light, #FAE0A7);
    font-family: Judson;
    font-size: 85px;
    font-weight: 400;
  }
}

nav {
  border-radius: 55px;
  border: 1px solid var(--dor-light, #FAE0A7);
  background: var(--black, #000);
  width: 290px;
  height: 101px;
  font-size: 16px;
  font-family: Judson;
  text-transform: uppercase;
  padding: 6px;
}

.category:hover {
  opacity: 50%;
  transition-duration: 0s;
  transition-delay: 0s;
}

.nav-container, .container-button-reservation {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  nav {
    border-radius: 50px;
    width: 1028px;
    height: 84px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;
    margin-bottom: 90px;
  }
}

@media (min-width: 768px) {
  .a-propos-de-nous-dress-code {
  margin: 109px 0 195px;
}
}

@media (min-width: 768px) {
  .container-la-carte {
  margin: 103px 0 195px;
}
}

main {
  margin: 34px 0 74px;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
}

p {
  padding-top: 15px;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

.text-la-carte {
  text-align: center;
  padding-bottom: 34px;
}

.container-carousel {
  position: relative;
  overflow: hidden;
}

.container-carousel-text {
  display: flex;
}

.carousel-left {
  animation: carousel-left 10s infinite linear;
}

.carousel-right {
  animation: carousel-right 10s infinite linear;
}

.carousel-text-blur {
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 64px;
  margin-right: 30px;
  font-weight: 400;
  filter: blur(2px);
  flex-shrink: 0;
}

.carousel-text {
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  margin-right: 30px;
  font-size: 48px;
  font-weight: 400;
  flex-shrink: 0;
}

@keyframes carousel-left {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes carousel-right {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-500px);
  }
}

@media (min-width: 768px) {
  .carousel-text-blur {
  margin-right: 100px;
  font-size: 150px;
  font-weight: 400;
  }
}

@media (min-width: 768px) {
  .carousel-text {
    margin-right: 100px;
    font-size: 128px;
    font-weight: 400;
  }
}

.button_more_info {
  border-radius: 50px;
  border: 1px solid var(--dor-light, #FAE0A7);
  background: var(--black, #000);
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 20px;
  padding: 9px 16px;
  text-decoration-line: underline;
  margin: 30px 0 30px;
}

@media (min-width: 768px) {
  .button_more_info {
    font-size: 34px;
    padding: 23px 45px;
  }
}

.button_more_info:hover {
  color: var(--black);
  border: var(--black);
  background-color: var(--light);
  transition-duration: 0s;
  transition-delay: 0s;
}

.button_reservations {
  color: var(--dor-light, #FAE0A7);
  border: 1px solid var(--dor-light, #FAE0A7);
  background: var(--black, #000);
  border-radius: 50px;
  text-align: center;
  font-family: Judson;
  font-size: 32px;
  width: 290px;
  height: 72px;
  text-decoration-line: underline;
}

.button_reservations:hover {
  color: var(--black);
  border: var(--black);
  background-color: var(--light);
  transition-duration: 0s;
  transition-delay: 0s;
}

footer {
  background: var(--black);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}


.footer-content {
  border: 1px solid var(--dor-light, #FAE0A7);
  color: var(--dor-light, #FAE0A7);
  font-family: Judson;
  font-size: 32px;
  font-weight: 400;
  padding: 48px 25px;
  width: 33.3333333%;
}

footer .width{
  width: 50%;
}

.footer-content:hover {
  opacity: 50%;
  transition-duration: 0s;
  transition-delay: 0s;
}